/**
 * woocommerce-layout
 * Applies layout to the default WooCommerce frontend design
 */


/**
 * Styling begins
 */
.woocommerce, .woocommerce-page {
	
	.woocommerce-message,
	.woocommerce-error,
	.woocommerce-info {
		.button {
			float: right;
		}
	}

	/**
	 * General layout styles
	 */
	.col2-set {
		@include clearfix();
		width: 100%;

		.col-1 {
			float: left;
			width: 48%;
		}
		.col-2 {
			float: right;
			width: 48%;
		}
	}

	img {
		height: auto;
		max-width: 100%;
	}

	/**
	 * Product page
	 */

	&.left-sidebar-layout .site-content .widget-area{
		float:left;
		border:0;
	}
	&.left-sidebar-layout .site-content .site-main{
		float:right;
	}
	&.sidebar-layout.single-product .site-content .widget-area{
		border:0;
	}

	div.product,
	#content div.product {

		.lovage_product_top{
		    height: auto;
		    overflow: hidden;
		    margin-top: 10em;
		}

		div.images {
			float: left;
			width: 48%;
		}

		div.thumbnails {
			@include clearfix();

			a {
				float: left;
				width: 30.75%;
				margin-right: 3.8%;
				margin-bottom: 1em;
			}

			a.last {
				margin-right: 0;
			}

			a.first {
				clear: both;
			}

			&.columns-1 {
				a {
					width: 100%;
					margin-right: 0;
					float: none;
				}
			}

			&.columns-2 {
				a {
					width: 48%;
				}
			}

			&.columns-3 {
				a{
				    width:33%;
				}
			}

			&.columns-4 {
				a {
					width: 22.05%;
				}
			}

			&.columns-5 {
				a {
					width: 16.9%;
				}
			}
		}

		div.summary {
			float: right;
			width: 46%;
			clear: none;
		}

		.woocommerce-product-top-section.huge{
			div.summary,
			div.images.woocommerce-product-gallery-huge{
				width:100%;
				float:none;
			}
		}

		.woocommerce-tabs {
			clear: both;

			ul.tabs {
				@include menu();

				&:before{
				   display: none;
				}
			}
		}

		#reviews {
			.comment {
				@include mediaright();
			}
		}

		.yith-wcwl-wishlistexistsbrowse{
		    display: block;
		    font-size: 12px;
		    border: 1px solid #eee;
		    padding: 10px;
		    margin-bottom: 10px;
		    color: #999;
		    line-height: 1.8em;
		}
	}

	/**
	 * Product loops
	 */
	ul.products {
		clear: both;
		@include clearfix();

		li.product {
			float: left;
			margin: 0 3.8% 2.992em 0;
			padding: 0;
			position: relative;
			width: 22.05%;
			margin-left: 0;
		}

		li.first {
			clear: both;
		}

		li.last {
			margin-right: 0;
		}
	}

	ul.products {
		&.columns-1 {
			li.product {
				width: 100%;
				margin-right: 0;
			}
		}
		&.columns-2 {
			li.product {
				width: 48%;
			}
			.add_to_cart_button.button{
				bottom:16px;
			}
			.lovage-add-to-cart-button{
				bottom:10px;
			}
		}
		&.columns-3 {
			li.product {
				width: 30.75%;
			}
			.add_to_cart_button.button{
				bottom:15px;
			}
			.lovage-add-to-cart-button{
				bottom:10px;
			}
		}


		&.columns-5 {
			li.product {
				width: 16.95%;
			}
		}
		&.columns-6 {
			li.product {
				width: 13.5%;
			}
		}
	}
	

	&.columns-1 {
		ul.products {
			li.product {
				width: 100%;
				margin-right: 0;
			}
		}
	}

	&.columns-2 {
		ul.products {
			li.product {
				width: 48%;
			}
		}
	}

	&.columns-3 {
		ul.products {
			li.product {
				width: 30.75%;
			}
		}
	}

	&.columns-5 {
		ul.products {
			li.product {
				width: 16.95%;
			}
		}
	}

	&.columns-6 {
		ul.products {
			li.product {
				width: 13.5%;
			}
		}
	}

	.woocommerce-result-count {
		float: left;
	}
	.woocommerce-ordering {
		float: right;
	}

	.woocommerce-pagination {
		ul.page-numbers {
			@include menu();
		}
	}

	/**
	 * Cart page
	 */
	table.cart,
	#content table.cart {
		img {
			height: auto;
			border: 1px solid #eee;
		}

		td.actions {
			text-align: right;
			padding: 20px;

			.input-text {
				width: 100px;
			}

			.coupon {
				float: left;

				label {
					display: none;
				}
			}
		}
	}

	.lovage-cart-list{
	   float: left;
	   width: calc(100% - 35%);
	}

	.cart-collaterals {
		width: 28%;
		float:right;
		border:1px solid #eee;
		padding:1em;

		.shop_table{
		  border: 0;
		}

		.related {
			width: 30.75%;
			float: left;
		}

		.cross-sells {
			width: 48%;
			float: left;

			ul.products {
				float: none;

				li {
					width: 48%;
				}
			}
		}

		.shipping_calculator {
			width: 48%;
			@include clearfix();
			clear: right;
			float: right;

			.col2-set {
				.col-1,
				.col-2 {
					width: 47%;
				}
			}
		}

		.cart_totals {
			float: right;
			width: 100%;
			
			h2{
				margin:.4em;
				border-bottom:1px solid #eee;
				font-size:1.2em;
				padding-bottom:1em;
			}

			th{
				padding-top:16px;
			}
		}
	}

	/**
	 * Cart sidebar
	 */
	ul.cart_list,
	ul.product_list_widget {
		li {
			@include mediaright();
		}
	}

	/**
	 * Checkout Page Layout
	 */
	#customer_details{
	   width: 65%;
	   float: left;

	   .col-1,.col-2{
	      width: 100%;
	   }
	}

	#order_review{
	   width: 30%;
	   float: right;
	}

	#order_review_heading{
	   float: left;
	   margin-left: 5%;
	   font-weight: 400;
       text-transform: capitalize;
	}



	/**
	 * Forms
	 */
	form {
		.form-row {
			@include clearfix();

			label {
				display: block;

				&.checkbox {
					display: inline;
				}
			}

			select {
				width: 100%;
			}

			.input-text {
				box-sizing: border-box;
				width: 100%;
			}
		}

		.form-row-first,
		.form-row-last {
			width: 47%;
			overflow: visible;
		}

		.form-row-first {
			float: left;

			/*rtl:raw:
			float: right;
			*/
		}

		.form-row-last {
			float: right;
		}

		.form-row-wide {
			clear: both;
		}
	}

	#payment {
		.form-row {
			select {
				width: auto;
			}
		}

		.wc-terms-and-conditions, .terms {
			text-align: left;
			padding: 0 1em 0 0;
			float:left;
		}

		#place_order {
			width: 91%;
		    left: 0;
		    border-radius: 3px;
		    margin: 0 15px;
		}
	}

	.woocommerce-billing-fields,
	.woocommerce-shipping-fields {
		@include clearfix();

		h3{
			font-weight: 300;
			text-transform: capitalize;
		}
	}

	.woocommerce-terms-and-conditions {
		margin-bottom: 1.618em;
		padding: 1.618em;
	}

	/**
	 * oEmbeds
	 */
	.woocommerce-oembed {
		position: relative;
	}
}

.woocommerce-account {
	.woocommerce-MyAccount-navigation {
		float: left;
		width: 20%;
		border: 1px solid #eee;
    	padding: 0 10px;
    	border-radius: 3px;

		ul{
			margin:0;
			padding:0;			
			li{
				border-bottom: 1px solid #eee;
				padding:10px 0;
				transition:all linear 0.15s;
				list-style:none;

				a{
					color:#000;
				}

				&:last-child{
					border: 0;
				}
			}
			li:hover,
			li.is-active{
				font-weight:600;
				border-bottom:2px solid $primary;

				a{
					color:$primary;
				}
			}
			li:hover{
				font-weight:400;
				border-bottom-width:1px;
			}
		}
	}

	.woocommerce-MyAccount-content {
		float: right;
		width: 75%;
	}
}

/**
 * RTL styles.
 */
.rtl {
	.woocommerce, .woocommerce-page {
		.col2-set {
			.col-1 {
				float: right;
			}
			.col-2 {
				float: left;
			}
		}
	}
}
