/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
/* ## Main Navigation*/
.main-navigation {
  display: block;
  height: inherit;

  a {
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding:0 10px;
  }

  a:hover{
    color: $primary;
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: right;
    line-height: $headerheight;
    height: auto;

    li{
      display: inline-block;
      position: relative;
    
      a{
        padding: 0 10px;
        height: auto;
        height: 70px;
        display: block;
        color: #000;
      }
    }

    > ul > li[class*="current"]{
      line-height: 58px
    }

    li[class*="current"] a{
      font-weight: bold;
      color: $primary;
    }

    > ul li:first-child{
      padding-left: 0;
    }

    :hover > ul,
    ul.focused,
    li a:focus + ul.sub-menu {
      left: auto;
    }

    /**
     * Second-Level
     */
    ul {
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
      float: left;
      position: absolute;
      top: 68px; 
      left: -999em;
      z-index: 9;
      background: #fff;
      padding: 0;

      li {
          text-align: left;
          display: block;
          height: auto;
          line-height: 1.2em;
          padding: 10px;
          background: none;
          transition: all 0.2s;
          -moz-transition: all 0.2s; /* Firefox 4 */
          -webkit-transition: all 0.2s; /* Safari and Chrome */
          -o-transition: all 0.2s; /* Opera */
          border-bottom: 1px solid rgba(0,0,0,.03);

          a{
            color: #000;
          }
      }
      li:first-child{
          border-radius: 3px 3px 0 0;
      }
      li:last-child{
        border: none;
      }

      li:hover {
        background: #f8f8f8;

        > ul{
           left: 100%;
        }
      }

      li.focused {
        background: #11c39b;

        a{
           color: #fff;
        }
      }

      /**
       * Third-Level
       */
      ul {
        left: -999em;
        top: 0;

        a {
            width: 200px;
            color: #000;
            font-size: 12px;
            border: none;
            height: auto;
            font-weight: normal;
        }
      }
    }
  }

}

.lovage-empty-menu{
  text-align: right;
  font-size: 12px;
  opacity: .8;
}


/* ## Comment and Posts Navigation*/
.site-main{
  .comment-navigation,
  .posts-navigation,
  .post-navigation {
    margin: 1em auto 3em;
    overflow: hidden;
    padding:10px 0;
    font-weight:bold;
  }
} 
.post-navigation{
    margin: 30px auto;
    min-height: 50px;
    line-height: 50px;
    height:auto;

    a{
      color:#333;
      font-weight: 600;
    }
    a:hover{
      color: $primary;
    }
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous{ 
  float: left;
  width: 50%;
  height:40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  a:before,
  a:before,
  a:before{
    content:"";
    margin-right:5px;
    color:#999;
  }
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next{
  float: right;
  text-align: right;
  width: 50%;
  height:40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  a:after,
  a:after,
  a:after{
    content:"";
    margin-left:5px;
    color:#999;
  }
}

.lovage_pagenavi{
  text-align: center;
  margin:30px auto;

  span,
  a{
    display: inline-block;
      padding: 10px 20px;
      color: #000;
      font-size: 1rem;
      border: 1px solid #eee;
      background: #fff;
      border-radius: 3px;

      &:hover{
        background: $primary;
        color: #fff;
      }
  }

  span {
    color: #fff;
    border-color: $primary;
    background: $primary;
  }

  span.dots{
    background: none;
    border-color: #eee;
    color: #ccc;
  }
}


/**
 * Responsive Navigation
 */

@media (max-width: 1200px){ 
  .main-navigation a{
    font-size:0.7rem;
  }
}

@media (max-width: 959px){
  .main-navigation{
      display: flex;
      justify-content:center;
      align-items:center;
      width: auto;
      float: right;
      min-width: 0;

      ul{
         display:none;
      }
      .menu-toggle{
        display: block;
        margin-top: 0;
      }
  }

  #mega-menu-wrap-primary{
     display:none;
  }
}

@media (max-width: 767px){
  .main-navigation{
    margin: 0;
    padding:0;

      .menu-toggle{
        display: block;
        margin: 0 0 0 15px;
      }
  }

  .post-navigation{
    margin-bottom:20px;
  }
}