/*--------------------------------------------------------------
## Popup
--------------------------------------------------------------*/

.lovage-popup{
    width: 40%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: -150%;
    margin: 0;
    z-index: 99999;
    background: #fff;
    box-shadow: -10px 0 20px rgba(0,0,0,.1);

  .popup_content{
    width: 90%;
    min-height: 100%;
    height: auto;
    margin: 10% auto 0;
    overflow: hidden;
    text-align: left;

    h3{
      line-height: 1.2em;
      font-weight: 200;
      margin: 10px 0 30px;
    }

    .popup-menu {
       padding-left: 0;
       margin-left: 0;
       margin-top: -50px;

       li {
          border-bottom: 1px solid #eee;

          a {
             display: flex;
             align-items: center;
             justify-content: flex-start;
             font-size: 16px;
             font-weight: 600;
             padding: 10px 0;
             color: #000;

             &:hover {
                border-bottom: 1px solid $primary;     
             }
          }

          .sub-menu {
              margin: 5px 0 10px;
              padding-left: 15px;

              li a {
                 font-weight: 400;
                 font-size: 14px;
              }

              li:last-child{
                 border-bottom: 0;
              }
          }
       }
    }

  }

  a.lovage-popup-close{
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 3em;
    color: #000;
    margin: 20px 20px 0 0;
    cursor: pointer;
    opacity: 0.7;
    position: relative;
  
      &:focus,
      &:hover {
        opacity: 1;
      }
      
      &:before, 
      &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
      }

      &:before {
        transform: rotate(45deg);
      }
      
      &:after {
        transform: rotate(-45deg);
      }
  }
}

#lovage-search .popup_content {
   margin-top: 50%;
   
   h3 {
     width: 100%;
   }
}


@media (max-width: 768px){
  .lovage-popup{
    width: 100%;
    margin-left: 0;

    .lovage-popup-close{
      margin: 40px 20px 0 0;
    }
    .popup_content h3{
      font-size: 2rem;
    }
  }
}